.stars-container {
  display: flex;
  flex-direction: row-reverse;
  justify-content: flex-end;
  gap: 5px;
}

.star {
  width: 100px;
  height: 100px;
  cursor: pointer;
}

.star:hover,
.star:hover ~ .star {
  content: url("img/star.png");
}
